<div class="container">
    <nav class="pull-left">
        <ul>
            <li>
                <a href="http://www.creative-tim.com">
                    PIPAS DevTeam
                </a>
            </li>

            <li>
                <a href="http://blog.creative-tim.com">
                    Blog
                </a>
            </li>
            <li>
                <a href="http://www.creative-tim.com/license">
                    Licenças
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright pull-right">
        &copy;
        <script>document.write(new Date().getFullYear())</script>
        , feito com o <i class="fa fa-heart heart"></i> por PIPAS DevTeam
    </div>
</div>