{% extends 'instituicoes/base/base.html' %}
{% load filters %}
{% block page_header %}
    {% include 'instituicoes/base/inst_header_base.html' %}
{% endblock %}
{% block body_block %}
    <div class="section">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="pill1">
                            <table class="table table-hover">
                                <thead>
                                <tr class="success">
                                    <th class="title">Instituição</th>
                                    <th class="title">Endereço</th>
                                    <th class="title">Bairro</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for instituicaolista in object_list %}

                                    <tr class="tr">

                                        <td class="text-left">{{ instituicaolista.instituicao | maiscula_m2 }}</td>
                                        <td class="text-left">{{ instituicaolista.endereco | maiscula_m2 }}</td>
                                        <td class="text-left">{{ instituicaolista.bairro | maiscula_m2 }}</td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% for inst in bairros %}
    <a href="">
        <p>{{ inst.bairro | capfirst }}</p>
    </a>

{% endfor %}

