{% extends 'registration/base/base.html' %}
{% load staticfiles %}

{% block page_header %}
    <div class="page-header header-filter" filter-color="blue"
         style="background-image: url({% static 'home/img/bg_inst.jpg' %}); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <div class="card card-signup">
                        <h2 class="card-title text-center">{{ user_type }}</h2>
                        <div class="row">
                            <div class="col-md-6">

                                <form method="post" action="" class="form">
                                    {% csrf_token %}
                                    <div class="card-content">
                                        {% for field in form %}

                                            <div class="form-group">
                                                <label class="" for="{{ field.id_for_label }}">
                                                    {{ field.label }}
                                                </label>
                                                {{ field }}
                                            </div>

                                        {% endfor %}
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-success btn-round">Registrar</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://www.creative-tim.com">
                                PIPAS DevTeam
                            </a>
                        </li>

                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenças
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    , feito com o <i class="fa fa-heart heart"></i> por PIPAS DevTeam
                </div>
            </div>
        </footer>
    </div>


{% endblock %}

{##}
{#{% block body_block %}#}
{#    <div class="row">#}
{#        <div class="col-md-8 col-sm-10 col-12">#}
{#            <h2>Sign up as a {{ user_type }}</h2>#}
{##}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}