{% extends 'account/base/base.html' %}
{% load staticfiles %}

{% block page_header %}
  <div class="page-header header-filter" filter-color="blue"
       style="background-image: url({% static 'home/img/bg_inst.jpg' %}); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">

          <div class="card card-signup">
            <h2 class="card-title text-center">{{ user_type }}</h2>

            <div class="col-md-8 col-md-offset-2">

              <form method="post" action="" class="">
                {% csrf_token %}
                <div class="card-content">
                  {% for field in form %}


                    <div class="form-group">
                      <label class="" for="{{ field.id_for_label }}">
                        {{ field.label }}
                      </label>
                      {% if field.errors %}
                        {{ field.errors }}
                        {{ field }}
                      {% else %}
                        {{ field }}
                      {% endif %}

                    </div>


                  {% endfor %}
                </div>
                <div class="footer text-center">
                  <button type="submit" class="btn btn-success btn-round">Registrar</button>
                </div>

              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
    <footer class="footer">
      {% include 'base/footer_base.html' %}
    </footer>
  </div>


{% endblock %}
