{% extends 'home/base/base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title>Home</title>
{% endblock %}
{% block page_header %}
  <div class="page-header header-filter header-small" data-parallax="true"
       style="background-image: url('../assets/img/bg9.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="title"> QUEM SOMOS </h1>
          <h2 class="title"> WHO WE ARE </h2>
        </div>
      </div>
    </div>
  </div>{% endblock %}


{% block body_block %}
  <div class="main main-raised">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h4 class="description">
              Pipas foi fundada em 2018 na cidade São Paulo.
              Com a missão de fazer a comunicação entre doador e instituição e ONGS, visando desenvolver o
              gerencioamento e a comunicação
              das instituições, e qualificar a empresa para abranger mais conexões na região de São Paulo, atualmente
              estamos em equipe
              cinco pessoas.
            </h4>
            <H5 class="description">
              Pipas was founded in 2018 in the city of São Paulo.
              Whith the mission of making communication between donor and institution and ONGS, aiming to develop
              management and communication
              of the instuitions, and qualify the company to cover more connections in the regions of São Paulo, we are
              currently in a team of
              five people.
            </H5>
          </div>
        </div>
      </div>
      <div class="about-team team-1">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="title"> NOSSA EQUIPE </h2>
            <h3 class="title"> OUR TEAM </h3>
            <h5 class="description"> P I P A S </h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img class="img" src="../assets/img/faces/giu.jpeg"/>#}
{#                </a>#}
{#              </div>#}

              <div class="card-content">
                <h4 class="card-title">Giuseppe Rosa</h4>
                <h6 class="category text-muted"> Cientista de Dados </h6>
                <p class="card-description">
                  Giuseppe.Rosa@hotmail.com
                </p>
                <div class="footer">
                  <a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i
                    class="fa fa-facebook-square"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img class="img" src="../assets/img/faces/pedro.jpeg"/>#}
{#                </a>#}
{#              </div>#}

              <div class="card-content">
                <h4 class="card-title">Pedro Vicente</h4>
                <h6 class="category text-muted"> Infraestrutura </h6>

                <p class="card-description">
                  Pedro.Campoamor@hotmail.com
                </p>
                <div class="footer">
                  <a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i
                    class="fa fa-facebook-square"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img class="img" src="../assets/img/faces/yago.jpeg"/>#}
{#                </a>#}
{#              </div>#}

              <div class="card-content">
                <h4 class="card-title">Yago barros</h4>
                <h6 class="category text-muted"> Analista de Sistema </h6>

                <p class="card-description">
                  Yago_barros@hotmail.com
                </p>
                <div class="footer">
                  <a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i
                    class="fa fa-facebook-square"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img class="img" src="../assets/img/faces/alvaro.png"/>#}
{#                </a>#}
{#              </div>#}

              <div class="card-content">
                <h4 class="card-title">Alvaro Jesus</h4>
                <h6 class="category text-muted"> Software Tester </h6>
                <p class="card-description">
                  alvi._alvaro@hotmail.com
                </p>
                <div class="footer">
                  <a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i
                    class="fa fa-facebook-square"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img class="img" src="../assets/img/faces/thiago.jpeg"/>#}
{#                </a>#}
{#              </div>#}

              <div class="card-content">
                <h4 class="card-title">Thiago Reis</h4>
                <h6 class="category text-muted"> Consultor de Capital Humano </h6>
                <p class="card-description">
                  thiagoReis@hotmail.com
                </p>
                <div class="footer">
                  <a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i
                    class="fa fa-facebook-square"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card card-profile card-plain">
{#              <div class="card-avatar">#}
{#                <a href="#">#}
{#                  <img class="img" src="../assets/img/faces/christian.jpg"/>#}
{#                </a>#}
{#              </div>#}

              <div class="card-content">
                <h4 class="card-title">Victor Braga</h4>
                <h6 class="category text-muted"> Lojista </h6>
                <p class="card-description">
                  Victor_Braga@hotmail.com
                </p>
                <div class="footer">
                  <a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i
                    class="fa fa-facebook-square"></i></a>
                  <a href="#" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  </div>

{% endblock %}
