{% extends 'home/base/base.html' %}
{% load staticfiles %}
{% block title_block %}
    <title>Home</title>
{% endblock %}
{% block page_header %}
{% include 'home/base/home_header_base.html' %}
{% endblock %}

{% block body_block %}
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title">Você já fez alguma doação?</h2>
                    <h5 class="description">O ato de doar contribui efetivamente com a transformação para o melhor da sociedade, das instituições e, principalmente das pessoas.
                        Ao enxergar as necessidades do próximo e fazer algo para supri-las, nos tornamos mais justos e igualitários.
                        Doar vai muito além de “transferir gratuitamente a outra pessoa, de forma legal, bem, quantia, imóvel, etc.”: doar é um ato de desprendimento, renúncia, entrega e amor ao próximo.
                    </h5>
                </div>
            </div>

            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">people</i>
                            </div>
                            <h4 class="info-title">47 mil</h4>
                            <p>Crianças e adolescentes vivem em abrigos, segundo o Conselho Nacional de Justiça (CNJ)</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">home</i>
                            </div>
                            <h4 class="info-title">2 mil</h4>
                            <p>Casas de amparo em todo o país, mas este número tem diminuido a cada ano.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="material-icons">attach_money</i>
                            </div>
                            <h4 class="info-title">55%</h4>
                            <p>Apenas esta parte é destinada para instituições de caridade, segundo dados do CAF.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section text-center">
            <h2 class="title">Como eu posso ajudar?</h2>

            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <a href="#a">
                                      <img class="img" src="/static/home/img/homeimg/Roupas.jpg"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-content">
                                    <h4 class="card-title">Doação de Roupas</h4>
                                    <p class="card-description">
                                        A forma mais prática e talvez a mais comum, é a doação de roupas e utensílios que não são mais utilizados.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <a href="#a">
                                        <img class="img" src="/static/home/img/homeimg/dinheiro.jpg"/
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-content">
                                    <h4 class="card-title">Doação de Dinheiro</h4>
                                    <p class="card-description">
                                        Grande parte do caixa das instituições é baseado nas doações de voluntários. Independente da quantia de dinheiro, o valor será utilizado para uma causa nobre.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                                      <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <a href="#a">
                                        <img class="img" src="/static/home/img/homeimg/voluntario.png"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-content">
                                    <h4 class="card-title">Voluntários</h4>
                                    <p class="card-description">
                                        Grande parte das instituições recebem voluntários de braços abertos. Sejam cuidadores, cozinheiros ou pessoas para acompanhar as crianças no dia-a-dia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <a href="#a">
                                        <img class="img" src="/static/home/img/homeimg/crianca.jpg"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-content">
                                    <h4 class="card-title">O que você está esperando?</h4>
                                    <p class="card-description">
                                      Caso tenha interesse em participar, encontre uma das instituições participantes através do menu Instituições, que pode ser encontrado no topo da página.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="section section-contacts">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                       <h2 class="text-center title">Nos envie uma menssagem</h2>
                    <h4 class="text-center description">Você pode enviar sugestões através do formulário abaixo. Caso tenha algum problema em localizar alguma instituição, você também poderá informa-la.</h4>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Seu Nome</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Seu Email</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label">Sua Mensagem</label>
                            <textarea class="form-control" rows="4"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <button class="btn btn-primary btn-raised">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
