{% extends 'account/base/base.html' %}
{% load socialaccount %}
{% load staticfiles %}

{% block page_header %}
    <div class="page-header header-filter" filter-color="gray"
         style="background-image: url({% static 'home/img/bg_inst.jpg' %}); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <div class="card card-signup">
                        <h2 class="card-title text-center">Qual seu perfil?</h2>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <h3 class="">Pessoa Física</h3>
                                <a href="{% url 'account_signup_pf' %}">Cadastrar</a>
                            </div>
                            <div class="col-md-6 text-center">
                                <h3 class="">Pessoa Jurídica</h3>
                                <a href="{% url 'account_signup_pj' %}">Cadastrar</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <footer class="footer">
            {% include 'base/footer_base.html' %}
        </footer>
    </div>


{% endblock %}