{% extends 'instituicoes/base/base.html' %}
{% load filters %}
{% block page_header %}
    {% include 'instituicoes/base/inst_header_base.html' %}
{% endblock %}
{% block body_block %}
    <div class="section">
        <div class="container">
            <h2 class="section-title">Find what you need</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-refine card-plain">
                        <div class="card-content">
                            <h4 class="card-title">
                                Refine por
                                <button class="btn btn-default btn-fab btn-fab-mini btn-simple pull-right" rel="tooltip"
                                        title="" data-original-title="Redefinir filtros">
                                    <i class="material-icons">cached</i>
                                </button>
                            </h4>

                            <div class="panel panel-default panel-rose">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="panel-title">Bairros</h4>
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox" checked="">
                                                Blazers
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox"><span
                                                    class="checkbox-material"><span class="check"></span></span>
                                                Casual Shirts
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox"><span
                                                    class="checkbox-material"><span class="check"></span></span>
                                                Formal Shirts
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox"><span
                                                    class="checkbox-material"><span class="check"></span></span>
                                                Jeans
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox"><span
                                                    class="checkbox-material"><span class="check"></span></span>
                                                Polos
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox"><span
                                                    class="checkbox-material"><span class="check"></span></span>
                                                Pyjamas
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox"><span
                                                    class="checkbox-material"><span class="check"></span></span>
                                                Shorts
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" data-toggle="checkbox"><span
                                                    class="checkbox-material"><span class="check"></span></span>
                                                Trousers
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card -->
                </div>

                <div class="col-md-9">
                    <div class="row">

                    </div>
                </div>
            </div>

            <br>

        </div>
    </div>

{% endblock %}
{% block bottom_scripts %}
    <script>

    </script>
{% endblock %}